@model LabWork_59_Nyssanov_Yernar.Models.User?

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Id</h2>
<h2>@Model.Email</h2>
<h2>@Model.UserName</h2>
<h2><img src="@Model.PathToFile" alt=""></h2>
<a asp-action="FullInfo">Доп Инфа</a>
