@model System.Collections.Generic.List<LabWork_59_Nyssanov_Yernar.Models.PostUser.Follow>

@{
    ViewBag.Title = "подписчики";
    Layout = "_Layout";
}

@foreach (var user in Model)
{
    <div class="user-tab mt-3">
        <img src="@user.FollowingUser.PathToFile" alt="Profile photo" class="user-profile-photo">
        <div class="user-tab-info">
            <div class="user-tab-username"><a asp-action="About" asp-route-userId="@user.Id">@user.FollowingUser.UserName</a></div>
        </div>
    </div>
}
