@model System.Collections.Generic.List<LabWork_59_Nyssanov_Yernar.Models.PostUser.Follow>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var user in Model)
{
    <a asp-action="About" asp-route-userId="@user.FollowingUser.Id">@user.FollowingUser.UserName</a>
}
