@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="heart-container">
    <button class="heart-btn">
        <i class="heart-icon far fa-heart"></i>
        <i class="heart-icon-filled fas fa-heart"></i>
    </button>
</div>