@model LabWork_59_Nyssanov_Yernar.ViewModel.User.RegisterViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Регистрация</h2>
        <form method="post" class="was-validated" asp-action="Register" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" id="Name" required/>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" id="Email" required/>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="productImage">Ваша Ава:</label>
                <input asp-for="Image" class="form-control" id="productImage" type="file" required/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" id="Password" required/>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" required/>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-outline-success mt-3">Создать</button>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}